@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Aplicacion Retira</title>
    <link href="~/Content/Estilos.css" rel="stylesheet" />
</head>
<body>
    <div class="slider">
        <ul>
            <li><img src="~/Logo/Logistica.jpg" alt="" /></li>
            <li><img src="~/Logo/Logistica2.png" alt="" /></li>
            <li><img src="~/Logo/Logistica3.jpg" alt="" /></li>
            <li><img src="~/Logo/Logistica4.jpeg" alt="" /></li>
        </ul>
    </div>
</body>
</html>

